#imagen-posicion{
    width: 70%; 
    height: 60vh; 
    margin: 0 auto;
}
#estilo-card{
    background: #FCBF49;
    border-radius: 10px;
}
#estilo-h3{
    background: #D62828;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
#input-largo{
    width: 13vw;
}
@media screen and (max-width:800px) {
    #imagen-posicion{
        width: 90%; 
        height: 30vh; 
        margin: 0 auto;
    }
    #input-largo{
        width: 100%;
    }
}