<app-navbar></app-navbar>
<body>
    <br>
<div class="container d-flex justify-content-center">
    <div class="login">
        <div class="container text-center">
            <br>
            <img id="image-size" class="img-fluid" src="../../../assets/logos/logo1.png" alt="">
            <br>
            <br>
            <form action="home/dashboard">
                <label for="email">
                    <h5>Email</h5>
                </label>
                <br>
                <input type="email" id="email" required>
                <br>
                <br>            
                <label for="password">
                    <h5>Contraseña</h5>
                </label>
                <br>
                <input minlength="8" type="password" id="password" required>
                <br>
                <br>
                <a href="register">No tienes una cuenta?</a>
                <br>
                <br>
                <button type="submmit" class="btn btn-danger">Ingresar</button>
            </form>
            <br>
        </div>        
    </div>
</div>
<br>
</body>
<app-footer class="a"></app-footer>