<header id="header">
    <h1>Compra Tus Entradas</h1> 
    <img class="boleto" src="../../../assets/boletos/boleto.png" alt="boleto">
  </header>
  <div id="contenedor" class="contenedor">
    <div>
        <img src="../../../assets/boletos/paquete1.jpg" alt="paquete 1">
        <div class="informacion">
            <p>Paquete Personal</p>
            <p class="precio">$5<span>.99</span></p>
            <a href="home/compraTicket">Comprar</a>            
        </div>
    </div>
    <div>
        <img src="../../../assets/boletos/paquete2.jpg" alt="paquete 2">
        <div class="informacion">
            <p>Paquete Pareja</p>                   
            <p class="precio">$10<span>.99</span></p>
            <a href="home/compraTicket">Comprar</a>
        </div>
    </div>
    <div>
        <img src="../../../assets/boletos/paquete3.jpg" alt="paquete 3">
        <div class="informacion">
            <p>Paquete Familiar</p>                   
            <p class="precio">$15<span>.99</span></p>
            <a href="home/compraTicket">Comprar</a>
        </div>
    </div>
    <div>
        <img src="../../../assets/boletos/paquete4.jpg" alt="paquete 4">
        <div class="informacion">
            <p>Paquete Premium</p>                   
            <p class="precio">$30<span>.59</span></p>
            <a href="home/compraTicket">Comprar</a>
        </div>
    </div>
    <div>
        <img src="../../../assets/boletos/paquete5.jpg" alt="paquete 5">
        <div class="informacion">
            <p>Paquete Standar</p>                   
            <p class="precio">$25<span>.99</span></p>
            <a href="home/compraTicket">Comprar</a>
        </div>
    </div>
    <div>
        <img src="../../../assets/boletos/paquete6.jpg" alt="paquete 6">
        <div class="informacion">
            <p>Paquete Institusiones</p>                   
            <p class="precio">$2<span>.99 por niño</span></p>
            <a href="home/compraTicket">Comprar</a>
        </div>
    </div>
  </div>
  
  <script>
    const header = document.querySelector("#header");
  const contenedor = document.querySelector("#contenedor");
  const body = document.querySelector("body");
  window.addEventListener("scroll", function(){
      if(contenedor.getBoundingClientRect().top<10){
          header.classList.add("scroll")
      }
      else{
          header.classList.remove("scroll")
      }
  })
  </script>
