* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(187, 109, 36);
    
}
body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #141C29;
    padding-top: 80px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
}
img {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
}
.scroll{
    background-color: aliceblue;
    box-shadow: .1rem .2rem .3rem #333;
}
.scroll img{
    filter: invert(15%);
}           
.scroll h1{
    color: #141C29;
}
.boleto{
    filter: invert(100%);
    width: 50px;
    height: auto;
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-bottom: 20px;
    background-image: url(../../../assets/logos/logo3.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.contenedor>div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #2D4263;
    border-radius: 20px;
}
.contenedor>div:hover{
    background-color: #11294d;
    transition: 0.5s;
}

.informacion{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.informacion>p:first-child{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.informacion .precio {
    font-size: 20px;
    font-weight: 500;
}
.informacion .precio span{
    font-size: 17px;
    font-weight: 300;
}
.informacion a{
    background-color: #263143;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;    
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    display: grid;
    text-align: center;
    align-items: center;
    text-decoration: none;
}
.informacion a:hover{
    background-color: #2D4263;
    color: rgb(187, 109, 36);
    transition: 1s;
}