
<!--
<div id="form-style" class="container text-center">      
    <h1>Adquiere tus Tickets</h1>
    <form>                
        <div class="row">
          <div class="col-lg-3">
            <label for="numeroadultos"><h6>Numero de Adultos</h6></label>
            <input id="numeroadultos" class="ms-3" type="number" min="0" max="10" matInput [formControl]="quantityControl" required #quantityInput1>
          </div>
          <div class="col-lg-3">
            <label for="numeroninos"><h6>Numero de Niños</h6></label>
            <input id="numeroninos" class="ms-3" type="number" min="0" max="10" matInput [formControl]="quantityControl" required #quantityInput2>
          </div>
          <div class="col-lg-3">
            <label for="numeroterceraedad"><h6>Numero Tercera Edad</h6></label>
            <input id="numeroterceraedad" class="ms-3" type="number" min="0" max="10" matInput [formControl]="quantityControl" required #quantityInput3>
          </div>
          <div class="col-lg-3">
            <label for="numerdiscapacitados"><h6>Numero Discapacitados</h6></label>
            <input id="numerdiscapacitados" class="ms-3" type="number" min="0" max="10" matInput [formControl]="quantityControl" required #quantityInput4>
          </div>
        </div>              
        <br>
        <label for="precio"><h6>Total Entradas</h6></label>
        <input id="precio" class="ms-3" type="number" [value]="price$ | async" readonly>
        <br>
        <br>
        <button style="color: white;" class="btn btn-success">Agregar</button>
      </form>          
            <br>
</div>
-->
<header id="header">
    <h1>Compra Tus Entradas en Nuestras Instalaciones</h1> 
    <img class="boleto" src="../../../assets/boletos/boleto.png" alt="boleto">
  </header>
  <div id="contenedor" class="contenedor">
    <div>
        <img src="../../../assets/boletos/paquete1.jpg" alt="paquete 1">
        <div class="informacion">
            <p>Paquete Personal</p>
            <p>Entrada para un adulto.</p>
            <p class="precio">$8<span>.00</span></p>
                        
        </div>
    </div>
    <div>
        <img src="../../../assets/boletos/paquete2.jpg" alt="paquete 2">
        <div class="informacion">
            <p>Paquete Pareja</p>   
            <p>Entrada para 2 adultos.</p>                
            <p class="precio">$15<span>.99</span></p>
            
        </div>
    </div>
    <div>
        <img src="../../../assets/boletos/paquete3.jpg" alt="paquete 3">
        <div class="informacion">
            <p>Paquete Familiar</p> 
            <p>Entrada para 2 adultos y 2 niños.</p>                  
            <p class="precio">$23<span>.99</span></p>
            
        </div>
    </div>
    <header id="header">
        <h1>Haz Tus Reservas</h1> 
        <img class="boleto" src="../../../assets/boletos/boleto.png" alt="boleto">
      </header>
    <div>
        <img src="../../../assets/boletos/paquete4.jpg" alt="paquete 4">
        <div class="informacion">
            <p>Paquete Premium</p> 
            <p>Incluye: entrada para 2 adultos y 2 niños,</p>
            <p>2 parrilladas completas y una fritada.</p>                  
            <p class="precio">$42<span>.99</span></p>
            
        </div>
    </div>
    <div>
        <img src="../../../assets/boletos/paquete5.jpg" alt="paquete 5">
        <div class="informacion">
            <p>Paquete Standar</p>
            <p>Incluye entrada 2 adultos y 2 yaguarlocros.</p>                   
            <p class="precio">$25<span>.99</span></p>
            
        </div>
    </div>
    <div>
        <img src="../../../assets/boletos/paquete6.jpg" alt="paquete 6">
        <div class="informacion">
            <p>Paquete Institusiones</p>    
            <p>Ofrecemos descuentos para instituciones.</p>
            <p>Incluye entrada infantil y hamburgesa.</p>               
            <p class="precio">$8<span>.50 por niño</span></p>            
        </div>
    </div>
  </div>
  
  <script>
    const header = document.querySelector("#header");
  const contenedor = document.querySelector("#contenedor");
  const body = document.querySelector("body");
  window.addEventListener("scroll", function(){
      if(contenedor.getBoundingClientRect().top<10){
          header.classList.add("scroll")
      }
      else{
          header.classList.remove("scroll")
      }
  })
  </script>
