<!-- As a link -->
<!--Carrousel-->
<!-- Carousel -->

<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/carruselrestaurante/ushimana4.jpg" alt="los angeles " class="d-block w-100"style="height: 500px; width: 1600px;" >
      </div>
      <div class="carousel-item">
        <img src="../../../assets/carruselrestaurante/ushiama5.jpg" alt="Chicago" class="d-block w-100"style="height: 500px; width: 1600px;">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/carruselrestaurante/eventos2.jpg" alt="New York" class="d-block w-100"style="height: 500px; width: 1600px;" >
      </div>
    </div>
  
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

<!--Carrousel end-->
<Br>
<h1 style="text-align:center"> Restaurante Ushimana</h1>
<p  style="text-align:center">La casa del verdadero placer.
  Cuidamos tu comida, cuidamos de ti </p>
  <div class="container">
  <div class=" row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center align-self-center">
            
    <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:319px;">
         <img src="../../../assets/carruselrestaurante/hamburgesas.jpg"
              class="card-img-top" alt="Card image"/>

         <div class="card1-block">
             <h4 class="card-title">Hamburgesas Artesanale</h4>
             <p class="card-text">Este fin de semana disfruta de nuestra hamburgesa y sus papitas criollas a tan solo 
              $6 
             </p>

              <button type="button" class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
              Comprar
      </button>                    
         </div>
     </div>

     <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:319px;">
         <img src="../../../assets/carruselrestaurante/restaurante2.jpg"
              class="card-img-top" alt="Card image"/>
         <div class="card2-block">
             <h4 class="card-title">Fritada</h4>
             <p class="card-text">Disfruta una rica Fritada con su mote y papitas criollas acompañado de una soda personal a tan solo $ 7.99</p>
                 <button type="button" class="btn btn-primary"
                 style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                 Comprar
         </button>
         </div>
     </div>

     <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:319px;">
         <img src= "../../../assets/carruselrestaurante/restaurante3.jpg"
              class="card-img-top" alt="Card image"/>

         <div class="card-block">
             <h4 class="card-title">Parrillada completa</h4>
             <p class="card-text">Disfruta de una parrillada este fin de semana a tan solo $11.99.</p>
             <button class="btn btn-primary" type="button">Comprar</button>
         </div>
     </div>
 </div>
 <div class=" row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center align-self-center">
            
  <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:319px;">
       <img src="../../../assets/carruselrestaurante/sopa.jpg"
            class="card-img-top" alt="Card image"/>

       <div class="card-block">
           <h4 class="card-title">Yuaguarlocro</h4>
           <p class="card-text">Disfruta este fin de semana un rico yagua a tan solo $ 5.00 </p>
           <button class="btn btn-primary" type="button">Comprar</button>
       </div>
   </div>

   <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:319px;">
       <img src=  "../../../assets/carruselrestaurante/empanadas.jpg"
            class="card-img-top" alt="Card image"/>

       <div class="card-block">
           <h4 class="card-title">Empanadas con morocho</h4>
           <p class="card-text">Disfruta de estas deliciosas Enpanadas con morocho a tan solo $ 10.00 un litro de morocho y 4 empanadas </p>
           <button class="btn btn-primary" type="button">Comprar</button>
       </div>
   </div>

   <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:319px;">
       <img src="../../../assets/carruselrestaurante/pollo.jpg"
            class="card-img-top" alt="Card image"/>

       <div class="card-block">
           <h4 class="card-title">Arroz con crema pollo </h4>
           <p class="card-text">Disfruta de un riquisimo Arroz con crema y ensalada pollo a la plancha a tan solo $ 7.99<p>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-primary" type="button">Comprar</button>
            </div>
       </div>
   </div>
</div>
</div>
<br>
<div class="comentarios">
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
  <label for="floatingTextarea2">Comments</label>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
 Enviar
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">muchas gracias</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
     Recibimos tu recomendacion - muchas gracias por preferirnos 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary"data-bs-dismiss="modal">Gardar cambios </button>
      </div>
    </div>
  </div>
</div>
</div>
