
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="smart-wrap">
                <div class="smart-forms smart-container wrap-2">                 
                  <div class="form-header header-primary">
                    <h4><i class="fa fa-calendar"></i>Reserva en línea</h4>
                  </div>                
                </div>
              </div>
              <div class="section">
                <label for="guestname" class="field-label">Nombres Completos </label>
                <label for="guestname" class="field prepend-icon">                    
                  <input type="text" name="guestname" id="guestname" class="gui-input" required="" placeholder="">
                  <span class="field-icon"><i class="fa fa-user"></i></span>  
                </label>
              </div>
                             
              <div class="frm-row">
                <div class="section colm colm6">
                  <label for="guestemail" class="field-label">Correo Electronico</label>
                  <label for="guestemail" class="field prepend-icon">
                    <input type="email" name="guestemail" id="guestemail" class="gui-input" required="" placeholder="">
                    <span class="field-icon"><i class="fa fa-envelope"></i></span>  
                  </label>
                </div>
                 
                <div class="section colm colm6">
                  <label for="guestelephone" class="field-label">Nuero de telefono</label>
                  <label for="guestelephone" class="field prepend-icon">
                    <input type="text" name="guestelephone" id="guestelephone" class="gui-input" required="" placeholder="">
                    <span class="field-icon"><i class="fa fa-phone-square"></i></span>  
                  </label>
                </div>
              </div>
               
              <div class="frm-row">
                <div class="section colm colm6">
                  <label for="adults" class="field-label">Numero de adultos</label>
                  <label for="adults" class="field prepend-icon">
                    <input type="number" id="adults" name="adults" class="gui-input" required="" placeholder=>
                    <span class="field-icon"><i class="fa fa-users"></i></span>  
                  </label>
                </div>
                 
                <div class="section colm colm6">
                  <label for="children" class="field-label">Numero de niños</label>
                  <label for="children" class="field prepend-icon">
                    <input type="number" id="children" name="children" class="gui-input" required="" placeholder=>
                    <span class="field-icon"><i class="fa fa-users"></i></span>  
                  </label>
                </div>
              </div>
               
              <div class="frm-row">
                <div class="section colm colm6">
                  <label for="checkin" class="field-label">Fecha de reserva</label>
                  <label for="checkin" class="field prepend-icon">
                    <input type="text" id="checkin" name="checkin" class="gui-input" required="" placeholder=>
                    <span class="field-icon"><i class="fa fa-calendar"></i></span>  
                  </label>
                </div>
                 
               
              <div class="spacer-t20 spacer-b30">
                <div class="tagline"><span>Por favor, responda a esta pregunta para una estancia agradable</span></div>
              </div>
               
              <div class="frm-row">
                <div class="option-group field">
                 
                  <div class="section colm colm6">
                    <label class="switch">
                      <input type="checkbox" name="switch1" id="switch1" value="switch1">
                      <span class="switch-label" data-on="YES" data-off="NO"></span>
                      <span>¿Traerás una mascota?</span>
                    </label>
                  </div>
                       
               
               
              <div class="section">
                <label for="comment" class="field-label">¿Algo más que debamos saber?</label>
                <label for="comment" class="field prepend-icon">
                  <textarea class="gui-textarea" id="comment" name="comment" placeholder=></textarea>
                  <span class="field-icon"><i class="fa fa-comments"></i></span>
                  <span class="input-hint"> 
                    <strong>Por favor:</strong> Sea lo más descriptivo posible
                  </span>   
                </label>
              </div>            
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
