div {
    background-color: #003049;
}

body {
    color: white;
    background-image: url("../../../assets/imagenesdeushimana/eventos7.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    bottom: 9px;    
}
#size-button{
    width: 100px;
}
#espacio{
    width: 50%;
    border-radius: 25px;
}
@media screen  and (max-width: 1000px) {
    #espacio{
        width: 70%;        
    }
}