<html>
    <body>        
        <footer>            
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 d-flex align-items-center justify-content-center">
                        <a href=""><img class="imagen-logo" src="../../../assets/logos/logo1.png" alt=""></a>
                    </div>    
                    <div id="arreglo1" class="col-lg-4 col-md-4 col-sm-4">
                        <br>
                        <p class="d-flex align-items-center justify-content-center"><a href="#">Contactanos</a></p>
                        <p class="d-flex align-items-center justify-content-center"><a href="#">Terminos y Condiciones</a></p>
                        <p class="d-flex align-items-center justify-content-center"><a href="#">Comida</a></p>
                        <p class="d-flex align-items-center justify-content-center"><a href="#">Reservaciones</a></p>
                    </div>                        
                    <div id="arreglo2" class="col-lg-4 col-md-4 col-sm-4">
                        <br>
                        <h5><i class="fab fa-instagram"> @Ushimana</i></h5>
                        <h5><i class="fab fa-twitter"> @UshimanaBalneario</i></h5>
                        <h5><i class="fab fa-whatsapp"> +593 987654321</i></h5>
                        <h5><i class="fab fa-facebook"> Ushimana</i></h5>
                    </div>                          
                </div>
            </div>
            <div class="linea"></div>
            <br>                              
            <br>  
        </footer>
    </body>
</html>