<html>
    <body>        
        <footer>            
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 d-flex align-items-center justify-content-center">
                        <a href=""><img class="imagen-logo" src="../../../assets/logos/logo1.png" alt=""></a>
                    </div>    
                    <div id="arreglo1" class="col-lg-4 col-md-4 col-sm-4">
                        <br>
                        <p class="d-flex align-items-center justify-content-center"><a href="#">Contactanos</a></p>
                        <p class="d-flex align-items-center justify-content-center"><a  data-bs-toggle="modal" data-bs-target="#exampleModal" class="link">Terminos y condiciones</a></p>
                        <p class="d-flex align-items-center justify-content-center"><a href="#">Comida</a></p>
                        <p class="d-flex align-items-center justify-content-center"><a href="#">Reservaciones</a></p>
                    </div>                        
                    <div id="arreglo2" class="col-lg-4 col-md-4 col-sm-4">
                        <br>
                        <h5><i class="fab fa-instagram"> @Ushimana</i></h5>
                        <h5><i class="fab fa-twitter"> @UshimanaBalneario</i></h5>
                        <h5><i class="fab fa-whatsapp"> +593 987654321</i></h5>
                        <h5><i class="fab fa-facebook"> Ushimana</i></h5>
                    </div>                          
                </div>
            </div>
            <div class="linea"></div>
            <br>                              
            <br>  
        </footer>
    </body>
</html>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header ">
        
        <img src="../../../assets/logos/logo1.png" width="10%" height="auto" alt=""><h1  id="exampleModalLabel" style="color: black;">  Terminos y Condiciones</h1><img width="10%" height="auto" src="../../../assets/logos/logo1.png" alt="">
        
       
      </div>
      <div class="modal-body">
        <h5>Última actualización: 23 de enero del 2023</h5>
       <p>Bienvenido al sitio Ushumana . Lee atentamente estos Términos y condiciones antes
        de usar el Sitio Web. Te ofrecemos este Sitio Web y los datos, la información, las
        herramientas, el software, las actualizaciones, el audio, las imágenes, el texto, los diseños, los
        clips de video y demás materiales asociados (colectivamente, el “Contenido”), sujeto a tu
        aceptación y cumplimiento de estos Términos. En adelante, se hace referencia a los productos
        y equipos para piscinas de Ushumana que ofrecemos y a los que brindamos soporte a través
        del Sitio Web .
        Su acceso y uso del Sitio Web depende de su aceptación y cumplimiento de estos
        Términos. Estos Términos se aplican a todos los visitantes, usuarios y otras personas que
        deseen tener acceso o utilizar el Sitio Web. Mediante su acceso o uso del Sitio Web, usted
        acepta regirse por estos Términos. Si no aceptas y das tu consentimiento para estos Términos,
        no debes usar el Sitio Web ni el Contenido.</p>
        <h3>TÉRMINOS INCORPORADOS</h3>
        <p> Los siguientes términos adicionales se incorporan a este Acuerdo tal como se indica en el
            presente: </p>
            <p>● Política de Privacidad</p>
            <p>● Política de Derechos de Autor</p>
            <p>● Política de Reclamos</p>
           
       <h3>1. AVISOS IMPORTANTES</h3>
        <p> 1. Al usar o visitar el Sitio Web, declaras que has leído, comprendido y aceptado este
            Acuerdo, incluida nuestra Política de privacidad. Este Acuerdo y Política de
            Privacidad están sujetos a las disposiciones del Reglamento General de Protección de
            Datos (“RGPD”) de la Unión Europea (“UE”), la Ley de Privacidad del Consumidor
            de California (“CCPA”, por sus siglas en inglés) y otras leyes de privacidad
            aplicables. Ushumana acepta que, en virtud del RGPD, somos un “Controlador” de
            datos y que tú eres un “Interesado” con determinados derechos a la privacidad
            protegidos con respecto a tus “Datos personales”. Los Datos personales también
            pueden denominarse Información de identificación personal (“IIP”).
            2. Nos reservamos el derecho de cambiar, modificar, agregar o alterar de cualquier
            forma este Acuerdo en cualquier momento, o de cambiar o descontinuar cualquier
            aspecto o característica del Sitio Web, el Contenido o los Productos sin proporcionarle
            aviso alguno. Estos cambios, modificaciones, adiciones o eliminaciones serán
            efectivos de inmediato, en cuanto se publiquen en el Sitio Web. Usted acepta
            consultar este Acuerdo periódicamente para estar al tanto de estas modificaciones. Su
            uso del Sitio Web o el Contenido después de que publiquemos estos cambios,
            modificaciones, adiciones o eliminaciones constituye su aceptación de esos cambios,
            modificaciones, adiciones o eliminaciones. No obstante lo anterior, te notificaremos
            por correo electrónico sobre cualquier cambio en la Política de privacidad, si nos has
            proporcionado tu dirección de correo electrónico.</p>
       <h3> 2. COSTOS, TRANSACCIONES Y PAGOS</h3>
       <p>1. Como se describe en más detalle en el Sitio Web, la compra de Productos puede
        requerir que usted pague costos (“Costos”). Si desea comprar Productos mediante el
        Sitio Web (cada uno de estos actos denominado una “Transacción”), se le puede
        solicitar que proporcione cierta información relevante para su Transacción, entre otros
        datos, su número de tarjeta de crédito, el número de verificación u otro código de
        seguridad de su tarjeta de crédito, la fecha de vencimiento de su tarjeta de crédito y su
        dirección física. Trataremos toda la información de este tipo que nos proporcione a
        través del Sitio Web de conformidad con este Acuerdo y la Política de Privacidad.
        Podemos exigir una verificación de la información antes de confirmar o completar
        cualquier Transacción. Usted manifiesta y declara que tiene el derecho legal de
        utilizar cualquier tarjeta de crédito u otro medio de pago empleado para cualquier
        Transacción. Las compras de productos también están sujetas a nuestro documento
        independiente de Términos y Condiciones de Venta, que rige su compra y uso de los
        Productos.
        2. Se le puede solicitar que registre su información personal y/o financiera con nosotros
        a fin de usar ciertas áreas del Sitio Web o el Contenido, por ejemplo, para tener
        acceso, enviar Presentaciones o iniciar Transacciones. Al hacerlo, usted acepta que
        debe proporcionar información precisa y completa. Podemos negarnos a procesar su
        información o las Transacciones solicitadas si consideramos que usted podría: i) estar
        haciéndose pasar por otra persona; ii) estar violando los derechos de propiedad
        intelectual u otros derechos de cualquier entidad; iii) estar publicando contenido
        ofensivo; o iv) estar proporcionando información que rechacemos por cualquier otro
        motivo, o sin ningún motivo, a nuestro exclusivo criterio.
       </p>
        <h3> 3. INDEMNIDAD</h3>
        <p> 1. Usted acepta eximir a Ushumana, sus funcionarios, directores, empleados y agentes
            de cualquier reclamo, daño, obligación, pérdida, responsabilidad, costo, deuda y gasto
            (incluidos, entre otros, los honorarios razonables de abogados) que surjan de: (i) su
            uso y acceso al Sitio Web o el Contenido; (ii) su infracción de cualquiera de los
            términos de este Acuerdo; (iii) su violación de los derechos de cualquier tercero,
            incluido cualquier derecho de autor, propiedad o privacidad; (vi) cualquier reclamo de
            que cualquiera de sus Presentaciones causaron daño a un tercero; o (v) cualquier
            conducta, actividad o acción ilícita o ilegal en el marco de cualquier ley estatal,
            federal o consuetudinaria, o que constituya una violación de los derechos de cualquier
            persona o entidad, relacionados, causados o facilitados de cualquier forma a través del
            uso del Sitio Web o el Contenido. Esta obligación de defensa y exención sobrevivirá
            la rescisión de este Acuerdo y su uso del Sitio Web o el Contenido.
            2. Sin perjuicio de cualquier declaración con respecto al contrato en el presente
            documento, esta Sección 15 no requiere que indemnicen a Ushumana por cualquier
            práctica comercial injusta o por fraude, engaño, promesa falsa, tergiversación u
            ocultamiento, supresión u omisión de cualquier hecho material por parte de Hayward
            o en conexión con el Sitio Web.</p>
       <h3>POLÍTICA DE DERECHOS DE AUTOR</h3>
        <p> Si consideras de buena fe que cualquier material publicado en el Sitio Web o el
            Contenido (los “Materiales”) infringe cualquier derecho de autor de cualquiera de tus obras,
            aceptas comunicarte con nuestro “Agente de derechos de autor para la ley DMCA” que se
            identifica más abajo, designado en este documento en el marco de la Ley de Derechos de
            Autor para el Milenio Digital (“DMCA”) (Título 17, Artículo 512(c)(3) del U.S.C.), y la
            correspondencia debe incluir lo siguiente:</p>
       <p>● una firma física o electrónica del propietario, o una persona autorizada para actuar en
        nombre del propietario, de los derechos de autor presuntamente violados;</p>
        <p> ● identificación de la obra protegida por derechos de autor que se alega que se ha
            violado;</p>
        <p> ● identificación, con información razonablemente suficiente para permitir su ubicación,
            del material presuntamente infractor;</p>
       <p> ● información razonablemente suficiente para permitir que nos pongamos en contacto
        con usted;</p>
       <p> ● una declaración de que considera de buena fe que el uso del material de la forma
        reclamada no tiene autorización del propietario de los derechos de autor, su
        representante o la ley; </p>
       <p>● una declaración de que la información de la notificación es precisa y, bajo pena de
        perjurio, que tiene autorización para actuar en nombre del propietario de un derecho
        exclusivo presuntamente violado. </p>
        <p> Usted acepta que, si no cumple con todos los requisitos de esta política, es posible que su
        aviso en virtud de la DMCA no sea válido. Por cualquier pregunta relacionada con este
        procedimiento o para presentar un reclamo, comuníquese con nuestro agente de derechos de
        autor para la ley DMCA designado:
        Copyright Agent
        Ushumana Pool Products,
        400 Connell Drive, Suite 6100, Berkeley Heights, NJ 07922
        Attn: Departamento Legal</p>
       <h3> POLÍTICA DE RECLAMOS POR INFRACCIÓN DE OTROS DERECHOS</h3>
        <p>Si considera de buena fe que cualquier Material (según se define más arriba)
            publicado en el Sitio Web u obtenido a través del Contenido constituye una infracción de
            cualquiera de sus derechos (incluido cualquier derecho de marca comercial o privacidad, pero
            no incluidos los derechos de autor que figuran en la Política de Derechos de Autor más
            arriba) o es ilícito de cualquier otra forma, usted acepta enviar un aviso a
            websupport@ushumana.com con la siguiente información:</p>
       <p>● su nombre, dirección física, dirección de correo electrónico y número de teléfono;</p>
        <p> ● una descripción de los Materiales publicados en el Sitio Web que considera que
            infringen sus derechos o que son ilícitos de otra forma, y qué partes de dichos
            Materiales considera que deben remediarse o eliminarse;</p>
        <p> ● identificación de la ubicación de los Materiales en el Sitio Web;</p>
       <p> ● si considera que los Materiales constituyen una infracción de sus derechos, una
        declaración sobre la base de los derechos que usted alega que se están violando;</p>
       <p> ● si considera que los Materiales son ilícitos o constituyen una infracción de los
        derechos de otros, una declaración de cuál es la base de esta convicción;</p>
       <p> ● una declaración, bajo pena de perjurio, de que considera de buena fe que el uso de los
        Materiales de la forma reclamada no está autorizado y que la información que está
        proporcionando es precisa a su mejor saber y entender; </p>
       <p>● su firma física o electrónica.</p>
       <p> Si recibimos un mensaje de su parte que cumple con todos los requisitos anteriores,
        evaluaremos su solicitud y, si corresponde, a nuestro exclusivo criterio, tomaremos medidas.
        Podemos revelar su solicitud a cualquier entidad que haya publicado los Materiales
        presuntamente en infracción, o a cualquier otra entidad que consideremos adecuada.
        Copyright ©Ushumana. Todos los derechos reservados. Este Sitio Web es propiedad de
        Ushumana y está protegido por las leyes de derechos de autor y marcas comerciales de los
        Estados Unidos e internacionales, así como otras leyes aplicables. Esto incluye el contenido,
        la apariencia y el diseño del Sitio Web, así como las marcas comerciales, los nombres de los
        productos, los gráficos, los logotipos, los nombres de servicio, los eslóganes, los colores y los
        diseños.</p>
       
    </div>
      
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>