*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 'Poppins',sans-serif;
 }
 body{
    top: 160px;
    display:flex;
    height:110vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff9100, #fce300);
 }
 .container{
     max-width: 90%;
     width: 100%;
     background: rgb(248, 248, 248);
     padding: 40px 60px ;
     border-radius: 5px;
     box-shadow:2px 2px 6px 6px rgb(85, 85, 87);
   
 }
 .title{
     text-align: center;
     justify-content: center;
 }
 
 .form {
     display        : flex;
     flex-wrap      : wrap;
     margin         : 6px auto;
     flex-direction : column;
     align-items    : center;
     justify-content: center;
     width          : 80%;
 }
 
 .form-label {
     font-size   : 1rem;
     font-weight : bold;
     margin-right: 1rem;
     text-align  : left;
     width       : 100%;
 
 
 }
 
 
 
 .form-control {
     display        : flex;
     justify-content: center;
     font-size      : 1rem;
     padding        : 10px;
     border-radius  : 5px;
     border         : 1px solid #ccc;
     width          : 100%;
 }
 
 
 
  .btn {
 
     background-color: #ff9900ec;
     color           : #fff;
     font-size       : 1.2rem;
     padding         : 0.5rem 1rem;
     border-radius   : 5px;
     border          : none;
     cursor          : pointer;
     margin-top      : 10%;
     text-align      : center;
    
 
 }
 .btn:hover {
     background-color: #237aec;
 }
 #btn-space{
    width: 10px;
 }
 
