#carrusel-1{
    position: relative;
    bottom: 18px;
    height: 40vw;
}
#card-position1{
    position: relative;
    top: 18px;
}
.custom-class {    
    text-align: justify;
}
.export{
    border-radius: 10px;
    border: 1px solid rgb(233, 233, 233);
    padding: 10px;    
}